language: node_js

script: npm run $COMMAND

matrix:
  include:
    - env: COMMAND=node
      node_js: '0.12'
    - env: COMMAND=node
      node_js: 'node'
    - env: COMMAND=node
      node_js: 4
    - env: COMMAND=node
      node_js: 5
    - env: COMMAND=node
      node_js: 6
    - env: COMMAND=browser
      node_js: 'node'
    - env: COMMAND=cover
      node_js: 'node'
    - env: COMMAND=jshint
      node_js: 'node'
   # Enabling power support architecture
    - arch: ppc64le
      env: COMMAND=node
      node_js: 'node'
    - arch: ppc64le
      env: COMMAND=node
      node_js: 4
    - arch: ppc64le
      env: COMMAND=node
      node_js: 5
    - arch: ppc64le
      env: COMMAND=node
      node_js: 6
    - arch: ppc64le
      env: COMMAND=browser
      node_js: 'node'
    - arch: ppc64le
      env: COMMAND=cover
      node_js: 'node'
    - arch: ppc64le
      env: COMMAND=jshint
      node_js: 'node'
 
 before_install:
   if [[ "$TRAVIS_CPU_ARCH" == "ppc64le" ]]; then
    sudo apt-get install npm
   fi
